body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdefd8;
    color: #000000;
}

.app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
}

#search-bar {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #929292;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
}

.genre-selector {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

select,
button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ddd;
    background-color: white;
    margin-right: 15px;

}

button {
    background-color: #5f4ef8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3d6eff;
}

.recommendations {
    margin-top: 40px;
}

.book-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
}

.book-card {
    width: 250px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.book-card h4 {
    font-size: 18px;
}

.book-card p {
    font-size: 14px;
    color: #777;
}

.book-card button {
    background-color: #4184ff;
    color: white;
    border: none;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
}

.book-card button:hover {
    background-color: #4882ff;
}

.shelves {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.shelf {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 400px;
}

.shelf h4 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
}

.shelf .book-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shelf .book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.shelf .book-card button {
    padding: 5px 10px;
    background-color: #ff3a20;
    font-size: 12px;
}

.shelf .book-card button:hover {
    background-color: #ff3333;
}

@media (max-width: 768px) {
    #search-bar {
        width: 100%;
    }

    .shelves {
        flex-direction: column;
        gap: 20px;
    }

    .shelf {
        width: 100%;
    }
}
